# 文档
desc

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
scripts/

# Node
node_modules/
dist/
npm-debug.log*

# wx-app
.hbuilderx/
unpackage/

# IDE
.idea/
.vscode/

# Project specific
backend/static/
backend/media/

# env
*.env

# other
.agent
design-system/
desc/